<!DOCTYPE html>
<html>
<head>
    <title>Invoice</title>
    <style>
        .company-info {
            float: left;
            width: 50%;
        }

        .signature-info {
            float: left;
            width: 50%;
            margin-top: 10px;
        }

        .merchant-info {
            margin-top: 20px;
            float: none;
            width: 50%;
        }

        .invoice-info {
            float: right;
            width: 50%;
            text-align: right;
            margin-top: 50px;
        }

        .invoice-date {
            float: right;
            width: 50%;
            text-align: right;
            margin-top: -120px;
        }

        .text-center {
            text-align: center;
        }

        .text-capitalize{
           text-transform: capitalize;
        }


        .logo {
            display: inline-block;
            width: 150px;
            height: 50px;
            margin-top: 20px;
        }

        .bold {
            font-weight: bold;
        }

        body {
            padding: 0 50px; /* Add 50px padding to both the left and right sides */
        }

        .note {
            margin-top: 100px
        }
       thead{
           background-color: gray;
       }

    </style>
</head>
<body>
<div class="company-info">
    <img src="https://res.cloudinary.com/tipplr/image/upload/v1681129415/tipplr-logo_tdsrfx.png" alt="Company Logo" class="logo">
    <h3>Food Space Technology pvt ltd</h3>
    <p>#12 Crescent Cunningham Road<br>
        Bangalore,Karnataka 56001<br>
        GSTIN:29AAECF1747N1Z6<br>
    </p>
</div>
<div class="invoice-info">
    <h1 class="bold">Tax Invoice</h1>
    <h4><span>#INV-</span>002298</h4>
</div>
<div class="merchant-info">
    <div style="font-weight: 500">Bill To Partner</div>
    <div style="font-weight: 700;font-size: medium;padding-top: 5px"><%= partner.name%></div>
    <div style="font-weight: 500"><%= partner.address%></div>
    <div style="font-weight: 500">GSTIN:<%= partner.gst_number%></div>
</div>
<div class="invoice-date">
    <h4><span>Invoice Date :</span><%= dateTime(partner.timestamp)%></h4>
    <h4><span>Weekly Payment :</span>Due on Receipt</h4>
</div>

<div class="merchant-info">
    <h4><span>Place of Supply:</span>Karnataka(29)</h4>
</div>
<div class="merchant-info">
    <h5><span>Subject:</span>Tax invoice</h5>
</div>
<div>
    <table class="table table-bordered" style="border-collapse: collapse; width: 100%">
        <thead>
        <tr>
            <% Object.keys(data[0]).forEach(function(key) { %>
                <th class="text-center text-capitalize" scope="col"><%= key %></th>
            <% }); %>
        </tr>
        </thead>
        <tbody>
        <% data.forEach(function(item) { %>
            <tr class="text-center">
                <% Object.values(item).forEach(function(value) { %>
                    <td><%= value %></td>
                <% }); %>
            </tr>
        <% }); %>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <% for (var key in charges[0]) { %>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2" class="text-center text-capitalize"><strong><%= key %></strong></td>
                <td class="text-center"><%= charges[0][key] %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
<div class="note">
    <div>Notes</div>
    <div>Please check the attached appendix for more payment details,Thanks for your business</div>
</div>
<div class="signature-info">
    <img src="https://res.cloudinary.com/tipplr/image/upload/v1681129421/tipplrsignature_koesgp.png" alt="Signature Logo" class="logo">
</div>
</body>
</html>
